*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(228, 228, 228);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{
    margin: 12px;
    text-align: center;
}

.centralizar{
    margin: 12px;
    text-align: center;
}

#icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#icons img{
    width: 25px;
    padding: 20px 0 0 0;
    
}

.menu{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.menu a{
    color: white;
    text-decoration: none;
}

#sobre-nos{
    display: flex;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#redes-sociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.produtos img{
    width: 60px;
}

h2{
    text-align: center;
}

.estoques{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.funcionarios {
    text-align: center;
}

form{
    display:block;
    font-size: 20px;
    margin: 20px 0 10px;
    text-align: center;
}

form input {

    display: block;
    margin: 0 0 20px;
    width: 30%;
    padding: 5px;
    background: #868686;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

button{
    margin-top: 15px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #868686;
    font-weight: bold;
    cursor: pointer;
}

footer{
    padding: 200px 0 0;
}
